*.fna
*.fna.gz
*.contig
*.fasta
*.fasta.gz
*.gbff
*.gbff.gz
*~
*.zip
datasets
*/ncbi_dataset
*workdir/files

*.pileup
*.mpileup

md5sum.txt

*.vcf
*.bcf

*.bam
*.bai
*.sam

*/*.jsonl
*.dmanifest
*/md5sum.txt

*.fastq
*.fastq.gz
*.fq
*.fq.gz

*.gfa

*quast_results/latest

### Large files in the PhaME results
*workdir/results/gaps
*workdir/results/miscs
*workdir/results/snps
*workdir/results/stats
*workdir/results/tables
*workdir/results/alignments
*workdir/results/temp

# Large phylogenomics results
01_phylogenomics/*/03_workdir/results/tables/
01_phylogenomics/*/03_workdir/results/Xeu_core_stats.txt

# SNP calling indexes
*.bwt
*.pac
*.sa
*.fai

# Parsnp outputs
parsnp.xmfa
parsnp.maf
*.ref

### BLAST-related files
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
*.ndb

wget-log

checkm_out